{{#if isSearch}}
<input type="text" name="search" class="{{classPrefix}}-input" data-role="list-search-key" value="{{searchKey}}" />
<button type="button" name="button" class="{{classPrefix}}-search"  data-role="list-search">搜索</button>
{{/if}}
